name: weather_flutter_app
description: A Flutter project pour l’examen L3GL ISI 2026
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8

  # Requête HTTP pour API météo
  http: ^1.1.0

  # Jauge circulaire animée
  percent_indicator: ^4.2.2

  # Carte Google Maps
  google_maps_flutter: ^2.3.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true